    <footer class="footer" style="background-color: black; height: auto; width: 100%; padding: 3%; color: white; border-radius: 10px; opacity: 0.9; margin-top: 25%;">

    	<div class="row">
        	<div class="col-md-6" align="center">
    	    
    			<ul align="center" style="list-style-type: none; color: white">
                        <h4 align="center">
                            Links:
                        </h4>
                      <li><a style="color: white !important;" href="https://takecareny.herokuapp.com/">Home</a></li>
                      <li><a style="color: white !important;" href="https://takecareny.herokuapp.com/pages/about">About</a></li>
                      <li><a style="color: white !important;" href="https://takecareny.herokuapp.com/posts">News & Updates</a></li>
                      <li><a style="color: white !important;" href="https://takecareny.herokuapp.com/contacts/new">Care Request</a></li>
                      <li id="home-link" data-hook><%= link_to Spree.t(:shop), spree.root_path, style: "color: white;" %></li>		
    			</ul>

    			<br>
    			<br>


    			 
        	</div>

        	<div class="col-md-6">
        		<ul align="center" style="list-style-type: none;">
                   <h4 align="center">
                    Social Media:
                </h4> 
        			<li><a href="https://instagram.com/robbyrob168?igshid=dqug1ojiq9m1"><img src="https://takecareassets.s3.amazonaws.com/iglogo.png" style="width: 10%; height: auto;"></a></li>
                    
        		</ul>
        	</div>
    	</div>

	

    	<div class="row" align="center">
				<h5>Copyright © 2019</h5>
    	</div>


    </footer>