<div class="container">
	<div class="row">
		<div class="col s12" align="center">
			<div data-aos="fade-in" data-aos-duration="3000">
				<img src="https://takecareassets.s3.amazonaws.com/takecare_black_background.png" style="width: 50%; height: auto; margin: 1%">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12" align="center">
			<h3 style="margin-bottom: 5%">Our Mission!</h3>
			<p style="width: 65%; height: auto">
				Lorem ipsum dolor amet marfa neutra VHS synth brunch 8-bit kombucha. Jean shorts sriracha cardigan four dollar toast authentic DIY church-key tofu yuccie sustainable keffiyeh celiac microdosing 8-bit. Shaman truffaut +1 mlkshk. Street art schlitz DIY lo-fi organic, kombucha artisan vaporware enamel pin pinterest 8-bit tacos woke affogato asymmetrical. Lumbersexual microdosing single-origin coffee literally mixtape. Biodiesel iceland affogato austin four dollar toast wayfarers adaptogen fingerstache vaporware schlitz yr. Tote bag chillwave 3 wolf moon artisan post-ironic ethical meggings small batch blog shabby chic cold-pressed XOXO.<br>

				Offal before they sold out chambray four loko poutine. Gentrify man bun marfa, chartreuse coloring book pork belly whatever glossier chia VHS austin hexagon church-key tacos cliche. Post-ironic etsy bitters subway tile, semiotics keffiyeh lyft mustache palo santo fingerstache air plant readymade taxidermy. Intelligentsia man braid shaman adaptogen, cardigan kickstarter food truck keffiyeh DIY affogato artisan semiotics vegan hot chicken jean shorts.<br>

				Scenester pinterest fixie sartorial, wayfarers trust fund everyday carry you probably haven't heard of them brunch. Pop-up cloud bread hot chicken distillery. Pork belly photo booth vexillologist, prism cornhole raclette sriracha chillwave quinoa kogi. Mustache ennui vice, asymmetrical meditation mlkshk dreamcatcher hot chicken. Jianbing art party authentic vaporware brunch artisan try-hard sartorial hoodie.
			</p>
		</div>
	</div>
</div>