	
	<div class="col s12" align="center" data-aos="fade-in" data-aos-duration="2500" style="background-image: url(https://takecareassets.s3.amazonaws.com/home_city.png); background-size: 100%; background-repeat: no-repeat; background-position: center; padding-bottom: 15%; ">
		<div >
			<img src="https://takecareassets.s3.amazonaws.com/takecare_black_background.png" style="width: 45%; height: auto; margin-bottom: 20%;">
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col s12" align="center">
				<img src="https://takecareassets.s3.amazonaws.com/home_foot.png" style="width: 35%; height: auto; margin-top: 10%; margin-bottom: 30%; ">
			</div>
		</div>

		<div class="row" style="margin-top: 5%;">
			<div class="col s12">
				<div class="col s6">
					<img src="https://takecareassets.s3.amazonaws.com/home_aid.png" style="width: 100%; height: auto; border-right: solid; border-color: white; border-width: 5px;">
				</div>

				<div class="col s6">
					<div>
						<img src="https://takecareassets.s3.amazonaws.com/restoration.png" style="width: 50%; height: auto; ">
					</div>
					<div style="margin: 5%; text-align: left">
						<ol style="list-style-type: circle; list-style-position: outside;">
							<li>one</li>
							<li>two</li>
							<li>three</li>
							<li>one</li>
							<li>two</li>
						</ol>
						<h6>
							I'm baby brunch pariatur blog, prism aesthetic DIY health goth. Photo booth health goth ipsum, lyft disrupt sartorial veniam iPhone knausgaard gluten-free fugiat quinoa ea four dollar toast. Chartreuse dolore laborum semiotics ut art party.
						</h6>
						
					</div>
					<div class="row" align="center">
						<%= link_to 'LEARN MORE!', new_contact_path, class: "btn waves-effect waves-light", style: "background-color: white; color: black; margin-top: 5%; width: 50%;" %>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 45%;">
			<div class="col s12">
				
				<div class="col s6">
					<div>
						<img src="https://takecareassets.s3.amazonaws.com/contact_customs.png" style="width: 50%; height: auto; ">
					</div>
					<div style="margin: 5%; text-align: left">
						<h6>
							I'm baby brunch pariatur blog, prism aesthetic DIY health goth. Photo booth health goth ipsum, lyft disrupt sartorial veniam iPhone knausgaard gluten-free fugiat quinoa ea four dollar toast. Chartreuse dolore laborum semiotics ut art party.
						</h6>
						<ol style="list-style-type: circle; list-style-position: outside;">
							<li>one</li>
							<li>two</li>
							<li>three</li>
							<li>one</li>
							<li>two</li>
						</ol>
					</div>
					<div class="row" align="center">
						<%= link_to 'LEARN MORE!', new_contact_path, class: "btn waves-effect waves-light", style: "background-color: white; color: black; margin-top: 5%; width: 50%;" %>
					</div>
				</div>

				<div class="col s6">
					<img src="https://takecareassets.s3.amazonaws.com/home_blue.png" style="width: 100%; height: auto; border-left: solid; border-color: white; border-width: 5px;">
				</div>
			</div>
		</div>
<hr style="margin-top: 25%">
		<div class="row">
			<div class="col s12" align="center">
				<img src="https://takecareassets.s3.amazonaws.com/home_shop.png" style="width: 35%; height: auto; margin-top: 30%;">
			</div>	
			<div class="col s12" align="center">
				<img src="https://takecareassets.s3.amazonaws.com/home_bag.png" style="width: 60%; height: auto; margin-top: 5%; margin-bottom: 1%">
			</div>
			<div class="row" align="center">
						<%= link_to 'SHOP!', spree_path, class: "btn waves-effect waves-light", style: "background-color: white; color: black; width: 50%;" %>
			</div>
		</div>

	</div>




