<div id="spree-header" style="background-color: black; color: white;">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <!-- <#%= image_tag ('logo.png'), :rel => 'icon', :type =>  'image/png', :style => 'width: 100px; height: auto;' %> -->
          <img src="https://takecareassets.s3.amazonaws.com/shop_logo_bx.png" style="width: 136px; height: auto;">
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
